<div style= "margin-left: 30px;">
<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Supervisors</h1>
</div>
<br>
<div class="container">
  <div class="row">
    <% @supervisors.each do |supervisor| %>
      <div class="col-md-4">
        <div class="card bg-light border-secondary mb-3">      
          <div class="card-body">
            <h5 class="card-title"><%=supervisor.name + " " + supervisor.last_name%></h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%=supervisor.email%></li>
              <li class="list-group-item"><%=supervisor.telephone%></li>
            </ul>             
            <%=link_to "Profile", supervisor, class: 'btn btn-info'%>
          </div>        
        </div>
      </div>
    <% end %>
  </div>
</div>