  <p style="color: green"><%= notice %></p>

<div class="container">
  <%= link_to "back", @ticket, class: 'btn btn-primary'%>
  <h1>Comments</h1>
  <br>
  <div class="card" style="width: 50rem;">
    <div class="card-header">
      <%= @ticket.title %>
    </div>
    <ul class="list-group list-group-flush">   
      <% @comments.each do |comment| %>
        <li class="list-group-item">
          <p> <%= comment.created_at %> </p>
          <p> <%= comment.executive.name+" "+comment.executive.last_name+":"%> </p>
          <p> <%= comment.description %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>