<div style= "margin-left: 30px;">
<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Requesting users</h1>
</div>
<br>
<div class="container">
  <div class="row">
    <% @requesting_users.each do |requesting_user| %>
      <div class="col-md-4">
        <div class="card bg-light border-secondary mb-3">      
          <div class="card-body">
            <h5 class="card-title"><%=requesting_user.name + " " + requesting_user.last_name%></h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%=requesting_user.email%></li>
              <li class="list-group-item"><%=requesting_user.telephone%></li>
            </ul>             
            <%=link_to "Profile", requesting_user, class: 'btn btn-info'%>
          </div>        
        </div>
      </div>
    <% end %>
  </div>
</div>

