<div id="<%= dom_id ticket %>"> 
    <h2><%=ticket.title%></h2>
</div>
<div>
    <p><%=ticket.created_at%></p>
</div>
<div>
    <p>State: <%=ticket.state%></p>
</div>
<div>
    <p><%=ticket.description%></p>
</div>
