<div style= "margin-left: 30px; margin-top: 15px;">
<h1>Editing ticket</h1>

<%= form_with model: @ticket, local: true do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, style: "width: 20%;", class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, style: "width: 20%;", class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, style: "width: 20%;", class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags, style: "width: 20%;", class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :priority %>
    <%= form.text_field :priority, style: "width: 20%;", class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :response %>
    <%= form.text_field :response, style: "width: 20%;", class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :attached_documents %>
    <%= form.text_field :attached_documents, style: "width: 20%;", class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :executive_id %>
    <%= form.text_field :executive_id, style: "width: 20%;", class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :requesting_user_id %>
    <%= form.text_field :requesting_user_id , style: "width: 20%;", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Update Ticket', style: "margin-top: 10px;",class: 'btn btn-success' %>
  </div>
<% end %>

<div>
  <%= link_to "Back to tickets", tickets_path, style: "margin-top: 10px;", class: "btn btn-primary"%>
</div>
</div>