<p style="color: green"><%= notice %></p>

<h2>Tickets</h2>

<div id="tickets">
  <% @tickets.each do |ticket| %>    
    <h5>
      <%= link_to ticket.title, ticket %> | <%=ticket.state%>
    </h5>
  <% end %>
</div>

<div>
  <%if @requesting_user%>
    <%=link_to "back", @requesting_user, class: 'btn btn-primary'%>
  <%else%>
    <%=link_to "back", @executive, class: 'btn btn-primary'%>
  <%end%>
</div>


