<div style= "margin-left: 30px;">
<p style="color: green"><%= notice %></p>



<div class="container">
  <h1>Executives</h1>
  <br>
  <div class="row">
    <% @executives.each do |executive| %>
      <div class="col-md-4">
        <div class="card bg-light border-secondary mb-3">      
          <div class="card-body">
            <h5 class="card-title"><%=executive.name + " " + executive.last_name%></h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%=executive.email%></li>
              <li class="list-group-item"><%=executive.telephone%></li>
            </ul>             
            <%=link_to "Profile", executive, class: 'btn btn-info'%>
          </div>        
        </div>
      </div>
    <% end %>
  </div>
</div>