<!DOCTYPE html>
<html>
<style>
body {
background: rgb(212,233,255);
background: linear-gradient(90deg, rgba(212,233,255,1) 0%, rgba(213,230,251,1) 22%, rgba(222,237,255,1) 41%, rgba(191,218,250,1) 73%, rgba(107,155,255,1) 100%);
}
</style>
  <head>
    <title>Issue Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
  </body>
</html>
